<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title> -- 车和家</title>
    <link rel="stylesheet" th:href="@{/css/element-ui.css }"/>
    <link rel="stylesheet" th:href="@{/css/util.css}"/>
    <th:block layout:fragment="head">
        this is head!
    </th:block>
    <!--<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>-->
</head>
<body>
<template id="$$content_title" style="display: none;"><th:block layout:fragment='title'>title</th:block></template>
<script>document.title = document.getElementById("$$content_title").innerHTML.trim() + " " + document.title;</script>

<!--content -->
<div id="app" class="ui-content fn-mt20" v-cloak v-loading="loading">
    <el-card class="box-card">
    <th:block layout:fragment="content">
        this is content!
    </th:block>
    </el-card>
</div>

<!-- js -->
<script th:src="@{/js/util/jquery.js}"></script>
<script th:src="@{/js/util/moment.js}"></script>
<script th:src="@{/js/util/vue.js}"></script>
<script th:src="@{/js/util/vue-resource.js}"></script>
<script th:src="@{/js/util/element-ui-2.12.0.js}"></script>
<script th:src="@{/js/util/util-core.js}"></script>
<script th:src="@{/js/util/util-ext.js}"></script>

<script th:inline="javascript">
    $UC = {
        ctxPath: /*[[${#httpServletRequest.getContextPath()}]]*/ null,
        ctxStatic: /*[[${#httpServletRequest.getContextPath()}]]*/ null,
        wsUrl:[[${session.wsUrl}]]
    };
</script>

<th:block layout:fragment="js">
    this is js!
</th:block>
</body>
</html>
